@model TennisApp.Models.MatchResults

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MatchResults</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.player1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
