@model IEnumerable<TennisApp.Models.MatchResults>

@{
    ViewBag.Title = "Index";
}

<h2>Always good to keep track of results!</h2>

<p>
    @Html.ActionLink("Create New Match data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.player1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.setScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Reverse()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.player1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.setScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchId })
        </td>
    </tr>
}

</table>
